.my-container {
  .header {
    width: 100%;
    height: rem-cal(160px);
    background-image: url('./img/header.png');
    background-size: cover;
    overflow: hidden;
    .avatar {
      width: rem-cal(72px);
      height: rem-cal(72px);
      margin: rem-cal(25px) auto 0;
      display: block;
      border: rem-cal(3px) solid rgba(255, 255, 255, .4);
      border-radius: 50%;
    }
    .nickname {
      color: #333;
      font-size: rem-cal(16px);
      text-align: center;
      margin-top: rem-cal(15px);
    }
  }
  .content {
    min-height: rem-cal(507px);
    background-color: #eee;
    .items {
      border-bottom: rem-cal(10px) solid #eee;
      background-color: #fff;
      li {
        height: rem-cal(45px);
        line-height: rem-cal(45px);
        font-size: rem-cal(14px);
        position: relative;
        padding-left: rem-cal(26px);
        margin-left: rem-cal(15px);
        box-sizing: border-box;
        border-bottom: 1px solid #e4e4e4;
        &:last-child {
          border: none;
        }
        &::before {
          content: '';
          display: block;
          width: rem-cal(16px);
          height: rem-cal(16px);
          position: absolute;
          top: 50%;
          left: 1px;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          background-size: cover;
        }
        &::after {
          content: '>';
          display: block;
          width: rem-cal(16px);
          height: rem-cal(16px);
          position: absolute;
          top: 0;
          right: rem-cal(9px);
          color: #aaa;
        }
      }
      .address {
        &::before {
          background-image: url('./img/address.png');
        }
      }
      .money {
        &::before {
          background-image: url('./img/money.png');
        }
      }
      .email {
        &::before {
          background-image: url('./img/email.png');
        }
      }
      .question {
        &::before {
          background-image: url('./img/question.png');
        }
      }
    }
  }
  .tel {
    font-size: rem-cal(15px);
    color: #ffb000;
    text-align: center;
    height: rem-cal(46px);
    line-height: rem-cal(46px);
    background-color: #fff;
  }
  .time {
    font-size: rem-cal(14px);
    color: #999;
    text-align: center;
    margin-top: rem-cal(13px);
  }
}